body {
  transition: background-color 0.3s ease;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  background-color: #d9b3cc; /* gris clair par défaut (mode clair) */
}

.dark #particles-js {
  background-color: #1e293b; /* bleu foncé pour mode sombre */
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
